@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap');

body {
  font-family: 'Noto Sans KR', serif;
}

h1, h2, h3 {
  font-family: 'Noto Sans KR', sans-serif;
}

.remark-code, .remark-inline-code {
  font-family: 'Roboto Mono', monospace;
}
